@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* cursor oculto */
body,
a,
button {
  cursor: none !important;
}

/* 🌫️ fondo gris elegante */
body {
  background: #e6e6ec;
  overflow-x: hidden;
}

/* selección de texto */
::selection {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

/* fondo limpio */
canvas {
  pointer-events: none;
}